body {
    /* background-color: rgb(164, 111, 189); esto es RGB*/
    /* background-color: #f2a311; esto es HEXADECIMAL*/
    /* background-color: rgba(12, 25, 122, 0.466); rgb con opacidad, ultimo valor del 0 al 1*/
    background-image: url("../../HTML/4_imagenes/images/razas-perro-pequenos-grandes-m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cuadrado {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.507);
    background-image: url("../../HTML/4_imagenes/images/38191.jpeg");
    background-size: cover;
    background-position: center center;
}